.\" man page for __PACKAGE_NAME__
.TH __PACKAGE_NAME_UPPER__ 1 __TODAY__ "__PACKAGE_NAME__ __PACKAGE_VERSION__" "__PACKAGE_NAME__"

.SH NAME
\fB__PACKAGE_NAME__\fR - FUSE driver for cloud object storage services

.SH SYNOPSIS
.B  __PACKAGE_NAME__
.RB [ \-f "] [" "\-h | \-\-help" "] [" \-o
.IR options ]
.RB [ "\-v | \-\-verbose" "] [" "\-V | \-\-version" ]
.I  mountpoint

.SH DESCRIPTION
\fB__PACKAGE_NAME__\fR is a FUSE (Filesystem in Userspace) driver for Amazon S3 and 
Google Storage buckets with support for multipart transfers, file integrity
checks, transparent file encryption, and Glacier restores.

.SH OPTIONS
.TP
.B -f
Stay in the foreground -- don't daemonize/detach from the current session.

.TP
.B "-h | --help"
Display a summary of command line options.

.TP
.B "-v | --verbose"
Increase output verbosity. Can be repeated for more verbosity. Should be used 
with \fB-f\fR.

.TP
.B "-V | --version"
Print \fB__PACKAGE_NAME__\fR version.

.TP
.BI -o " options"
Pass a comma-separated list of options to FUSE. \fIoptions\fR can be 
\fB__PACKAGE_NAME__\fR-specific or generic FUSE options.  The \fB__PACKAGE_NAME__\fR-specific 
options are:

.RS
.TP
.BI "config=" "file"
Read configuration from \fIfile\fR rather than the default locations
(~/.__PACKAGE_NAME__/__PACKAGE_NAME__.conf and /etc/__PACKAGE_NAME__.conf).

.RE
.RS
Some generic FUSE options that may be useful are:

.TP
.BI "allow_other"
Allow users besides the one launching \fB__PACKAGE_NAME__\fR to access the mounted file
system.

.TP
.BI "allow_root"
Allow root to access the mounted file system.

.TP
.BI "gid=" "group id"
Set apparent group ID for all files in the mounted bucket to \fIgroup id\fR.

.TP
.BI "uid=" "user id"
Set apparent user ID for all files in the mounted bucket to \fIuser id\fR.

.RE

.SH CONFIGURATION
See \fB__PACKAGE_NAME__.conf\fR(5).

.SH AUTHORS
Tarick Bedeir <tarick@bedeir.com>

.SH SEE ALSO
\fB__PACKAGE_NAME__.conf\fR(5), \fB__PACKAGE_NAME___gs_get_token\fR(1), \fB__PACKAGE_NAME___sha256_sum\fR(1),
\fB__PACKAGE_NAME___vol_key\fR(1)
